:root {
    --spectral-green: #2ecc71;
    --ghost-glow: 0 0 20px #a2d149;
    --dark-wood: #1a1a1a;
}

body {
    margin: 0;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-frame {
    width: 80vw;
    max-width: 800px;
    border: 4px solid var(--spectral-green);
    box-shadow: var(--ghost-glow);
    border-radius: 12px;
}

.ui-overlay {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-ghost, .btn-start {
    padding: 12px 24px;
    background: var(--dark-wood);
    color: var(--spectral-green);
    border: 2px solid var(--spectral-green);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-ghost:hover {
    transform: scale(1.1);
    box-shadow: var(--ghost-glow);
}

.hidden {
    display: none;
}

.flashlight-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none; /* Permite hacer clic a través de él */
    background: radial-gradient(circle 150px at var(--x) var(--y), rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
    z-index: 10;
}